body{
    margin: 0;
    overflow-x: hidden;
    width: min-content;
    height: fit-content;
}


.header{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);
    background-color: cadetblue;
    height: 16vmin;
    width: 100vmax;
}

.main{
    position: absolute;
    top:74vmin;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40vmax;
    width: 40vmax;
    background-color: aliceblue;
    border: 0.5vmin rgb(49, 49, 49) solid;
    border-radius: 15px;
    
}

.footer{
    position: absolute;
    top: 140vmin;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(108, 73, 141, 0.863);
    height: 19vmin;
    width: 100vmax;
}