body{
    margin: 0;
    overflow-x: hidden;
    width: min-content;
    height: fit-content;
}


.header{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-0%);
    background-color: cadetblue;
    height: 16vmin;
    width: 100vmax;
}

.nav{
    position: relative;
    top: 20.5vmin;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 9vmin;
    width: 90vmax;
    background-color: antiquewhite;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main{
    position: absolute;
    top:70%;
    left: 25%;
    transform: translate(-25%,-50%);
    height: 34vmax;
    width: 70vmax;
    background-color: aliceblue;
    border: 0.5vmin rgb(49, 49, 49) solid;
    border-radius: 15px;
}
.aside{
    position: relative;
    top: 50%;
    left: 74vmax;
    transform: translate(-0%,-50%);
    background-color: rgb(53, 124, 53);
    height: 31vmax;
    width: 18vmax;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    border: 5px rgb(37, 185, 37) solid;
}
.footer{
    position: absolute;
    top: 124vmin;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(108, 73, 141, 0.863);
    height: 19vmin;
    width: 100vmax;
}